#top-menu{
	list-style: none;
}

#tree{

}

#tree ul{
	list-style: none;
}

#tree ul .cat-wrapper .edit,#tree ul .cat-wrapper .delete{
	margin-left:5px;
	cursor:pointer;
}

#tree ul .cat-wrapper .add{
	margin-left: 15px;
}

#tree ul .cat-wrapper .add input[type=text]{
	width:132px;
	border:1px solid #aaa;
}

#tree ul .cat-name{
	text-decoration: underline;
}

#tree ul li{
	padding-left:10px;
}

#tree ul li .remove,#tree ul li .edit, #tree ul li .name{
	display: inline-block;
	margin-left:8px
}

#tree ul li .remove,#tree ul li .edit{
	cursor: pointer;
}

#tree ul li .edited{
	border:1px solid #eee;
}